.appear {
  opacity: 0;
  transform: rotate(180deg);
}

.appearActive {
  opacity: 1;
  transform: rotate(0);
  transition: all 1000ms linear;
}

/* .enter {
  opacity: 0;
  transform: rotate(180deg);
}

.enterActive {
  opacity: 1;

  transform: rotate(0);
  transition: all 1000ms linear;
}
.exit {
  opacity: 1;
  transform: scale(1);
}
.exitActive {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms linear;
} */
